<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>landing</title>
    <link  href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="row holder">
    <div class="col-4"></div>
    <div class="col-4 ">
        <div class="d-flex flex-column align-content-center">
<img src="../media/MingoLogo1.png" class="align-self-center" width="215" height="215" alt="">
<h1 class="pageText align-self-center vwWords1">MINGO</h1>
<h4 class="pageText align-self-center vwWords2">NEW TO THE AREA?</h4>
<button type="button" class="btn btn-success align-self-center mingoBtn vwWords2">LOGIN      |     SIGNUP</button>
<h4 class="pageText align-self-center vwWords2">ARE YOU A BUSINESS?</h4>
    <button type="button" class="btn btn-success align-self-center mingoBtn vwWords2">LOGIN      |     SIGNUP</button>
        </div>
    </div>
    <div class="col-4"></div>
</div>
</body>
</html>